<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>text_parser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FBFAC4341F11C2470077F274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBFAC4481F11C2480077F274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBFAC4531F11C2480077F274</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
