<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimeArchive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63AF4C611F161E9E0038B7E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63AF4C751F161E9E0038B7E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63AF4C801F161E9F0038B7E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
